body {
    background-color: white;
    margin: 20px;
    padding: 20px;
}
table, th, td {
    border-collapse: collapse;	
	border: 1px solid black;
}
td, th {
	padding: 20px;
	vertical-align: top;
}
td.qrtd {
	width: "1*";
	text-align: center;
}